//- layout.jade
doctype html
html
  head
    block head
      meta(charset='utf-8')
  body
    block header
      h1 My Site
    block content
      p Welcome to my site
    block footer
      p Copyright &copy; #{siteName}