doctype html
html
  include ./includes/head
  body
    include ./includes/header
    section#main
      include ./includes/toc
      include ./includes/intro
    include ./includes/footer
    script(src='js/app.js')