.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

section.content {
    padding: 10px;
}

@media (min-width: 600px) {
    #main{
        display: flex;
        justify-content: space-around;
        width: 90%;
        margin: 0 auto;
        padding: 10px;
        sidebar.toc {
            width: 20%;
        }
        section.content {
            width: 70%;
            padding-top: 20px;
        }
    }
}
