.panel {
    margin: 10px 0 20px 0;
    background-color: #fff;
    border: 1px solid;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid;
        border-radius: 3px 3px 0 0 ;
    }

    .panel-body {
        padding: 15px;
    }
}

.panel-danger {
    border-color: #ebccd1;
    .panel-heading {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ecbcb1;
    }
}

.panel-info {
    border-color: #bce8f1;
    .panel-heading {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

.panel-warning {
    border-color: #faebcc;
    .panel-heading {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
}