aside.toc {
    padding: 0 20px;
    li {
        margin-top: 2px;
        float: left;
        width: 50%;
        a {
            display: block;
            text-decoration: none;
            border-radius: 4px;
            padding: 10px 15px;
            color: #589983;
            transition: color 0.2s;
            transition: background-color 0.2s;
            &:hover {
                color: #3c6859;
                background-color: #eee;
            }
            &.active {
                color: #fff;
                background-color: #589983;
            }
        }
    }
}

@media (min-width: 600px) {
    aside.toc {
        li {
            float: none;
            width: 100%;
        }
    }

}