//- page.jade
extends layouts/layout

append head
  title Awesome Site

block header
  h1 Awesome Site

block content
  p Welcome to this awesome site
  p You can learn something about Jade here

prepend footer
  p Any error please contact @#{author}
