//- page.jade
extends layouts/layout-two-column

block sidebar
  h1 sidebar

block primary
  h1 primary

prepend script
  script(src='js/runtime.js')

append script
  script(src='js/google-analytics.js')