// 使用块文本
script.
  if (usingJade)
    console.log('you are awesome')
  else
    console.log('use jade')

//- 如果使用管道文本，则要麻烦不少
// 使用管道文本
script
  | if (usingJade)
  |   console.log('you are awesome')
  | else
  |   console.log('use jade')