section.content
  p 这是关于Jade语法参考的SPA。
  p 左侧是目录
  p Jade支持多种#[a(href='#doctype') doctype]，但是都以#[code doctype html]编译
  p 相比于#[a(href='http://jade-lang.com/reference/') 官方文档]，做了一些调整，比如#[code extendes]和#[code inheritance]两部分被合并在了一起。
  p 代码分为左右两栏，左侧为Jade代码，右侧是生成的相应的HTML代码
  p 除了#[a(href='#extends') extends]、#[a(href='#filters') filters]和#[a(href='#includes') includes]外，其它部分的Jade代码都支持在线编辑。