input(type='text', name='foo')

// 使用除字符串外的其它JavaScript表达式
- var authenticated = true
body(class=authenticated ? 'authed' : 'anon')

// 多个属性跨多行表示
input(
  type='checkbox'
  name='agreement'
  checked
  )