p.
  Jade提供了#[code extends]指令用于通过重写或改写预先定义的内容块扩充模板。

p.
  内容块通过#[code block]关键字，内容块名和可选的内容定义，内容块的内容即后续的缩进块。内容块中可以包含内容块。

p.
  在扩充模板过程中，既可以对其中的内容块进行替换，也可以给其中的内容块添加前置内容或者附加内容。替换内容通过定义一个同名内容块实现；添加前置内容或者附加内容通过定义前置块或者附加块实现。前置块通过#[code block prepend]定义，附加块通过#[code block append]定义。定义前置块和附加块时，#[code block]是可选的。