p.
  过滤器使我们可以在Jade模板中使用其他语言，它们接受纯文本块作为输入。

p.
  所有的#[a(href='https://www.npmjs.com/browse/keyword/jstransformer') JSTransformers]都可以用做Jade的过滤器，其中常用的有：#[code :coffee-script], #[code :babel], #[code :uglify-js], #[code :less]和#[code :markdown-it]。