p.
  #[code each...in]可以用来对数组和对象进行迭代，默认情况下是对值进行迭代，这与#[code for...in]不同，而和ES6中的#[code for...of]相同；还可以通过指定第二个变量来获取数组索引或者对象属性名。被迭代的对象可以是数组或字面值，也可以是结果为数组或对象的任何JavaScript表达式。可以使用#[code for]作为#[code each]的别名。