p.
  mixin会自动获取一个参数#[code attributes]，就像JavaScript中函数会自动获取#[code arugments]和#[code this]一样。#[code attributes]的值通过在正常调用mixin后跟一个圆括号，然后在其中指定属性。#[code attributes]的值默认被转义，如果要不被转义，需要使用#[code !=]代替#[code =]。也可以使用#[code &attributes]。